apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: kumkammonteju/auth:latest   # Jenkins will push here
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  clusterIp: None   # <-- important for EKS
  selector:
    app: auth
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000

