apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
      - name: user
        image: kumkammonteju/user:latest
        ports:
        - containerPort: 5001
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  clusterIp: None  # <-- exposes via AWS ELB
  selector:
    app: user
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5001

